* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #a3b4a2;
  height: 100%;
  width: 100%;
  text-align: center;
}
.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  color: #cdc6ae;
  border: none;
  font-size: 8vmin;
  background-color: #187795;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.842);
}
.reset {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #187795;
  color: white;
  font-weight: 600;
  border-radius: 1rem;
  border: none;
}
.new-game {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #187795;
  color: white;
  font-weight: 600;
  border-radius: 1rem;
  border: none;
}
.msg {
  color: #cdc6ae;
  font-size: 8vmin;
}
.msg-container {
  height: 100vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hide {
  display: none;
}
